/ .navbar-wrapper
/   .container
/     .navbar-collapse.collapse
/       ul.nav.navbar-nav.navbar-right.scroll
/         li.active
/           = link_to root_path
/             | Home
/         - if user_signed_in?
/           li
/             = link_to new_dish_path
/               | 料理を投稿する
/           li
/             = link_to destroy_user_session_path
/               | ログアウト
/         - else
/           li
/             = link_to new_user_session_path
/               | ログイン
/           li
/             = link_to new_user_registration_path
/               | 会員登録する
